<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 xmlns:h="http://xmlns.jcp.org/jsf/html">
 <h:head>
 <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
 <title>Agregar Nueva Categoría</title>
 </h:head>
 <h:body>
 <ui:include src="../general/header.xhtml" />
 <h2>Agregar Nueva Categoría</h2>
 <h:form>
 <h:panelGrid columns="2">
 <h:outputText value="Nombre" />
 <h:inputText value="#{agregar.nuevaCategoria.nombre}"
/>
 <h:outputText value="Descripción" />
 <h:inputText
value="#{agregar.nuevaCategoria.descripcion}" />
 <h:commandButton value="Agregar" title="Agregar" action="#{agregar.agregarCategoria}" />
 </h:panelGrid>
 </h:form>
 <ui:include src="../general/footer.xhtml" />
 </h:body>
</html>