<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
 xmlns:h="http://xmlns.jcp.org/jsf/html">
 <h:head>
 <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
 <title>Tienda Virtual</title>
 </h:head>
 <h:body>
 <ui:include src="../general/header.xhtml" />
 <h2>Inicio</h2>
 <h:outputLink
value="../index.xhtml">Administrar Categorķas</h:outputLink>
 <ui:include src="../general/footer.xhtml" />
 </h:body>
</html>